
body {
	margin: 0px;
	padding: 0px;
	background: url('../images/binding_dark.png') repeat;
	color: #fff;
}

h1, h2, h3, h4, h5, h6, ul {
	margin: 0px;
	padding: 0px;
	font-family: 'Yeseva One' , cursive;
}

header {
	width: 960px;
	height: 50px;
	margin: 10px auto 0px auto;
	padding: 0px;
	color: #fff;
	overflow: hidden;
}

header img {
	float: left;
	margin: 4px 0px 0px 15px;
}

header h1 {
	float: left;
	height: 50px;
	line-height: 50px;
	margin-left: 15px;
}

header ul {
	list-style-type: none;
	float: right;
}

header ul li {
	font: 1em 'Yeseva One', cursive;
	float: left;
}

header a {
	text-decoration: none;
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0px 20px 0px 20px;
	color: #fff;
}

header a:hover {
	color: #f78d1d;
}

#splashImage {
	width: 100%;
	clear: both;
	background: url(../images/c24UpClosev3.jpg) no-repeat;
	height: 608px;
	margin-top: 30px;
}

#splashImage h1 {
	color: #fff;
	text-shadow: 2px 2px #2F4F4F;
	font: 3.5em 'Yeseva One', cursive;
	float: right;
	padding: 50px 50px 0px 0px;
}

.cta  {
	clear: right;
	float: right;
	width: 300px;
	height: 100px;
	margin: 50px 100px 0px 0px;
}

#splashImage a {
	text-decoration: none;
	color: white;
	font: 1.4em/100px 'Yeseva One', cursive;
	text-transform: uppercase;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
}

.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
}

.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
}

#wrapper {
	clear: both;
	width: 960px;
	margin: 0px auto;
}

article {
	width: 100%;
	border-radius: 25px;
	margin-top: 40px;
	padding: 25px;
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-gap: 25px;
	-moz-column-gap: 25px;
	-webkit-column-gap: 25px;
	background-color: rgba(247, 141, 29, .65);
}

article h2 {
	font-size: 1.5em;
}

article p {
	font: 1.2em/1.3em;
}

#facilities {
	margin-top: 40px;
}

.facilitiesPics {
	width: 400px;
	float: left;
	margin-top: 30px;
}
	
.facilitiesPics li {
	list-style-type: none;
	float: left;
	margin-left: 10px;
}

#equipment {
	float: left;
	margin: 30px 0px 0px 90px;
}

table {
	margin-top: 5px;
}

th {
	text-align: left;
}

td {
	padding: 10px;
}

footer {
	clear: both;
	margin: 40px 0px 40px 0px;
}

footer ul {
	margin-top: 30px;
	list-style-type: square;
}

footer ul li {
	padding: 10px;
}

.clear {
	clear: both;
}