html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0%;
	padding: 0%;
	background: url('../images/binding_dark.png') repeat;
	color: #fff;
}

h1, h2, h3, h4, h5, h6, ul {
	margin: 0%;
	padding: 0%;
	font-family: 'Yeseva One' , cursive;
}

h2 {
	color: #f78d1d;
}

header {
	width: 90%;
	margin: .625em auto .625em auto;
	padding: 0%;
	color: #fff;
}

header img {
	float: left;
	margin: .3125em 0em 0em 0em;
}

header h1 {
	float: left;
	height: 50px;
	line-height: 50px;
	margin-left: 2%;
	font-size: 1.6em;
}

header ul {
	list-style-type: none;
	float: right;
}

header ul li {
	font: 1.15em 'Yeseva One', cursive;
	float: left;
}

header a {
	text-decoration: none;
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0em 1.10em 0em 1.10em;
	color: #fff;
}

header a:hover {
	color: #f78d1d;
}

#splashImage {
	width: 100%;
	clear: both;
	background: url(../images/c24UpClosev3.jpg) no-repeat;
	height: 399px;
	margin-top: 1.875em;
}

#splashImage h1 {
	color: #fff;
	text-shadow: 2px 2px #2F4F4F;
	font: 2.5em 'Yeseva One', cursive;
	float: right;
	padding: 5% 5% 0% 0%;
}

.cta  {
	clear: right;
	float: right;
	width: 300px;
	height: 4em;
	margin: 5% 10% 0% 0%;
}

#splashImage a {
	text-decoration: none;
	color: white;
	font: 1.1em/4em 'Yeseva One', cursive;
	text-transform: uppercase;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: .875em/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: .0625em;
}

.orange {
	color: #fef4e9;
	border: solid .0625em #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
}

.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
}

.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
}

#wrapper {
	clear: both;
	width: 80%;
	margin: 0px auto;
	font-size: 1.25em;
	-webkit-text-size-adjust: 100%;
}

article {
	width: 100%;
	margin-top: 2.5em;
}

article h2 {
	font-size: 1.5em;
}

article p {
	line-height: 1.3em;
}

.columns {
	margin-top: 3em;
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-gap: 20px;
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
}

#facilities {
	width: 100%;
	margin-top: 3em;
}

.facilitiesPics {
	margin-top: 1.5625em;
}
	
.facilitiesPics li {
	list-style-type: none;
	float: left;
	padding: .625em;
}

#equipment {
	width: 100%;
	float: left;
	margin-top: 3em;
}

#equipment table {
	margin-top: 2em;
}

#equipment th {
	text-align: left;
	color: #538018;
}

#equipment td {
	padding: 1em;
	margin-left: 10%;
}

footer {
	width: 100%;
	margin: 3em 0em;
}

footer h3 {
	margin-top: 1.5em;
}

footer ul {
	list-style-type: none;
}

footer ul li {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 157, 40, .7)), to(rgba(67, 107, 12, .7)));
	background: -moz-linear-gradient(top,  rgba(107, 157, 40, .7),  rgba(67, 107, 12, .7));
	border-radius: .625em;
	padding: 1.25em;
	margin-top: 2em;
}

footer a {
	color: #fff;
	text-decoration: none;
	display: block;
}

footer a:hover {
	color: #f78d1d;
}

form {
	margin-top: 2em;
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 157, 40, .7)), to(rgba(67, 107, 12, .7)));
	background: -moz-linear-gradient(top,  rgba(107, 157, 40, .7),  rgba(67, 107, 12, .7));
	border-radius: .625em;
	padding: 1em;
	font: 1em 'Yeseva One', cursive;
}

.alternate {
	color: #f78d1d;
}

input {
	width: 100%;
	display:block;
	border: .0625em solid #999;
	height: 3em;
	margin-bottom: 1em;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea {
	display: block;
	margin-bottom: 2em;
	width: 100%;
}

.clear {
	clear: both;
}

/*--------------------------------Media Queries---------------------------*/

	@media only screen and (min-width: 768px) and (max-width: 1080px){
		header h1 {
			font-size: 1.25em;
		}
		
		header ul li {
			font: 1em 'Yeseva One', cursive;
		}
		
		#splashImage {
			height: 266px;
		}
		
		#splashImage h1 {
			font: 1.5em 'Yeseva One', cursive;
		}
		
		#splashImage a {
			font: .7em/2em 'Yeseva One', cursive;
		}
		
		.cta {
			width: 150px;
			height: 2em;
		}
		
		#wrapper {
			font-size: 1.05em;
		}
		
		article .columns {
			font-size: 1.05em;
		}
		
	}
	
		@media only screen and (min-width: 481px) and (max-width: 767px) {
		
		header h1 {
			font-size: 1.1em;
		}
		
		header ul li {
			font: .75em 'Yeseva One', cursive;
		}
		
		#splashImage {
			height: 266px;
		}
		
		#splashImage h1 {
			font: 1.5em 'Yeseva One', cursive;
		}
		
		#splashImage a {
			font: .7em/2em 'Yeseva One', cursive;
		}
		
		.cta {
			width: 150px;
			height: 2em;
		}
		
		#wrapper {
			font-size: 1em;
			-webkit-text-size-adjust: 100%;
		}
		
	}
	
	@media only screen and (max-width: 480px) {
		
		header {
			min-height: 100%;
		}
		
		header img {
			float: left;
		}
		
		header h1 {
			float: left;
		}
		
		header ul {
			float: none;
			clear: both;
			width: 90%;
			margin: 80px auto 0px auto;
		}
		
		header ul li {
			float: none;
			display: block;
			margin-bottom: 50px;
			font: 1em 'Yeseva One', cursive;
			text-align: center;
			background: #538018;
			background: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 157, 40, 1)), to(rgba(67, 107, 12, 1)));
			background: -moz-linear-gradient(top,  rgba(107, 157, 40, 1),  rgba(67, 107, 12, 1));
			border-radius: 10px;
		}
		
		#splashImage {
			display: none;
		}
		
		.who {
			background: none;
		}
		
		.columns {
			column-count: 1;
			-moz-column-count: 1;
			-webkit-column-count: 1;
		}
		
		.facilitiesHeader {
			display: none;
		}
		
		#equipment td {
			font-size: .8em;
		}
		
		footer a {
			font-size: .78em;
		}
	}